@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./fonts/montserrat/Montserrat-Regular.ttf); 
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./fonts/montserrat/Montserrat-Bold.ttf);
}


body {
    margin: 0;
    overflow-x: hidden;
}


html {
    box-sizing: border-box;
    font-family: sans-serif;
    transition: opacity 0ms 350ms ease-in-out;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.transition-wrapper {
	-webkit-transition: opacity 400ms 0ms ease-in;
	-moz-transition: opacity 400ms 0ms ease-in;
	-ms-transition: opacity 400ms 0ms ease-in;
	-o-transition: opacity 400ms 0ms ease-in;
	transition: opacity 400ms 0ms ease-in;
    opacity: 0;
}

.show {
    opacity: 1;
}

#nav-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: rgba(18, 18, 18, 1);
    color: white;
    height: 125px;
    width: 100%;
    position: fixed;
    z-index: 900;
}

.logo {
    justify-self: flex-start;
    margin: 35px auto auto 0;
    font-size: 40px;
    font-family: sans-serif;
}

.nav-list {
    text-decoration: none;
    display: block;
    padding: 35px 20px 0px 20px;
    font-size: 40px;
    font-family: Montserrat-Regular, sans-serif;
    font-weight: bold;
}

.nav-list:hover {
    background: rgb(61, 61, 61);
    border-radius: 40%;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

.nav-spacer {
    width: 100%;
    height: 125px;
}

.main {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.home-content {
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url(./images/3692584.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: white;
    filter: brightness(65%);
    position: absolute;
    top: 125px;
    right: 0;
    left: 0;
    bottom: 0;
    background-position: center center;
}

.headline {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    padding-top: 150px;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat-Regular, sans-serif;
    font-size: 80px;
    text-shadow: 2px 2px black;
    position: relative;
    
}

.sub-headline {
    text-align: center;
    font-size: 36px;
    padding-top: 30px;
    color: rgba(255, 255, 255, 1);
}

.reserve {
    align-self: center;
    width: 500px;
    height: 200px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 72px;
    text-shadow: inherit;
    border: 2px solid white;
    border-radius: 5px;
}

.reserve:hover {
    background-color: rgba(18, 18, 18, 1);
    border: rgba(18, 18, 18, 1);
    cursor: pointer;
}

.about-page {
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url(./images/3692590.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    position: absolute;
    margin: auto;
    filter: brightness(65%);
    overflow: auto;
}

.desc-headline {
    height: 600px;
    width: 500px;
    display: flex;
    flex-flow: column;
    align-content: center;
    background-color: rgba(18, 18, 18, 0.7);
    color: white;
    outline: 3px solid black;
    margin: 100px 0px 0px 200px;
    padding-top: 20px;
    font-size: 48px;
    font-family: Montserrat-Regular, sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
    position: relative;
}

.home-desc {
    margin: 30px 0px 0px 20px;
    font-size: 22px;
    text-align: left;
}

.menu-content {
    display: block;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 125px;
    right: 0;
    left: 0;
    bottom: 0;
}

.menu-head {
    text-align: center;
    font-size: 80px;
    color: rgb(255, 255, 255);
    background-color: rgb(190, 49, 49);
    width: 50%;
    margin: 60px auto 40px auto;
}

.break {
    color: rgba(0, 0, 0, 0.705);
    width: 60%;
    margin-bottom: 15px;
}

.menu-body {
    /* display: grid;
    grid-template-columns: repeat(3, 18em);
    grid-template-rows: repeat(3, 4em);
    gap: 3em;
    /* outline: 1px solid red; */
    /* width: 60%;
    height: auto;
    margin: auto;
    justify-content: center;
    justify-items: start; */
}

.section-header {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.menu-section {
    display: grid;
    grid-template-columns: repeat(3, 18em);
    grid-template-rows: repeat(2, 5em);
    gap: 3em;
    /* outline: 1px solid red; */
    width: 60%;
    height: auto;
    margin: auto auto 100px auto;
    justify-content: center;
    justify-items: start;
}

.menu-item {
    width: 100%;
    margin: auto;
    padding-bottom: 2em;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 800;
    line-height: 1.2em;
    /* outline: 1px solid green; */
    break-inside: avoid;
}

.menu-price {
    float: right;
    color: rgba(0, 0, 0, 0.767);
}

.menu-ingredient {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.767);
    margin-top: 3px;
    width: 70%;
}

